<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PASSWORD RESET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .wrap {
            width:450px;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div style="background-color:white; margin:100px auto; width:100%; border: 1px solid #ddd; border-radius:5px;">
            <div style="padding-top:40px;">
                <img id="logo" src="https://media.vlpt.us/images/tkddnd82/post/7f389b2d-ced3-45e5-9f0d-b326b4321419/allmytour_logo.jpg"
                style="width:300px;padding:0px 24px 32px;">
            </div>
            <div style="padding:0px 24px 32px">
                <p style="color:#2b2a2a;font-size:19px; font-weight:bold; line-height:25px;">비밀번호 재설정</p>
                <p>아래 버튼을 눌러 새 비밀번호를 설정해주세요.<br>재설정 링크는 5분동안 유효합니다.</p>
            </div>
            <div>
                <a href={{user_token}} style="text-decoration: inherit;">
                    <div style="text-align: center; font-weight: 500; font-size: 20px; border-radius: 24px; background-color: #00C19F; color:#f5eeee;
                   padding:12px;margin: 0 20px 40px 20px">비밀번호 재설정하기</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>